// Fuentes
$principal_font: 'Roboto', sans-serif;

// Media Queries
$phone: 480px;
$tablet: 769px;
$desktop: 1024px;

//colores
$primari: #E8505B;
$secundary: #455A64;
$black: #000000;
$white: #fff;
$grey: #eceeef;

//unidades
$separation: 5rem;
